<h1>The Holy City</h1>

<ul>
    <% @poems.each do |poem| %>
        <li>
            <a href="/poems/<%= poem.id%>">
                <%= poem.title %>
            </a>
        </li>
    <% end %>
</ul>
